<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/jsp/error.jsp</location>
    </error-page>

    <filter>
        <filter-name>GestSedeFilter</filter-name>
        <filter-class>it.unisa.application.utilities.GestSedeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ClienteFilter</filter-name>
        <filter-class>it.unisa.application.utilities.ClienteFilter</filter-class>
    </filter>
    <filter>
        <filter-name>GestCatenaFilter</filter-name>
        <filter-class>it.unisa.application.utilities.GestCatenaFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GestCatenaFilter</filter-name>
        <url-pattern>/addFilm</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GestCatenaFilter</filter-name>
        <url-pattern>/catalogo</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClienteFilter</filter-name>
        <url-pattern>/AggiungiOrdine</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClienteFilter</filter-name>
        <url-pattern>/Checkout</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClienteFilter</filter-name>
        <url-pattern>/SceltaPosto</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClienteFilter</filter-name>
        <url-pattern>/ProiezioniFilm</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GestSedeFilter</filter-name>
        <url-pattern>/gestioneProgrammazione</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GestSedeFilter</filter-name>
        <url-pattern>/aggiungiProiezione</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GestSedeFilter</filter-name>
        <url-pattern>/slotDisponibili</url-pattern>
    </filter-mapping>
    <context-param>
        <param-name>uploadDir</param-name>
        <param-value>C:/Users/emiio/IdeaProjects/CineNow/src/main/webapp/static/images/locandine</param-value>
    </context-param>
</web-app>
