body {
    background-color: #222222;
    color: #f8f9fa;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 0.5px;
}

.navbar-brand {
    color: #ff4b5c !important;
    font-weight: bold;
}

.nav-link {
    color: #f8f9fa !important;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: #ff4b5c !important;
}

.dropdown-menu {
    background-color: #222222;
    border: none;
}

.dropdown-item:hover {
    background-color: #ff4b5c;
    color: #121212 !important;
}

.carousel-inner img {
    max-height: 500px;
    object-fit: cover;
}

footer {
    border-top: 1px solid #444;
}

.top-bar {
    background-image: url("../images/sfondo.png");
    background-size: cover;
    background-position: center 40%;
    height: 350px;
}

/* Card dei film */
.film-card {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    letter-spacing: 0.5px;
}


.film-card img {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 85%;
    object-fit: cover;

}

.film-card-body {
    padding: 15px;
    text-align: center;
    letter-spacing: 0.5px;
}

.film-title {
    font-size: 1.5rem;
    color: #ff4b5c;
    text-decoration: none;
    letter-spacing: 0.5px;
}

.film-form {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Pulsante "invisibile" che avvolge la card */
.film-button {
    background: none;
    border: none;
    color: inherit;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
    cursor: pointer;
    letter-spacing: 0.5px;
}

.film-button:hover {
    opacity: 0.9;
}

.film-button:hover .film-title {
    text-decoration: underline;
    text-decoration-color: coral;
}

/*Login form*/
.content {
    padding: 20px;
    max-width: 400px;
    margin: auto;
}

input[type="text"], input[type="password"],input[type="email"],input[type="number"], textarea, input[type="file"] .btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333333;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #333333;
    color: #ffffff;
}

.btn {
    background: #ff3b30;
    color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: none;
    margin: 5px 0 10px;
}
.btn:hover{
    background-color: coral;
}
/* Stile per il messaggio di errore */
.error-message {
    color: #ff3b30;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    background-color: #ffe6e6;
    padding: 10px;
    border: 1px solid #ff3b30;
    border-radius: 5px;
    margin-bottom: 15px;
    display: none;
}

.input-error {
    border: 2px solid #ff3b30;
    border-radius: 5px;
    outline: none;
}
/*Stile link dei form login e registrazione*/
.content p a {
    text-decoration: none !important;
    color: inherit;
    letter-spacing: 0.5px;
}

.content p a:hover {
    color: coral!important;
    text-decoration: underline !important;
}

.content p a:focus, p a:active {
    color: coral !important;
}

